@import "../../styles/_variables.scss";
.menu-options {
  font-family: $body-font;
  color: $title-text-colour;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

  &__about:hover,
  &__projects:hover,
  &__contact:hover {
    color: $selector-colour;
    transition: 400ms;
  }
}
