@import "../../styles/_variables.scss";
.project-card {
  border: 2px solid $title-text-colour;
  border-radius: 10px;
  box-shadow: 5px 5px 5px $selector-colour;
  margin: 10px;
  height: 550px;
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__info {
    font-family: $body-font;
    color: $body-text-colour;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
    &--techStack {
      font-size: 1rem;
      color: $selector-colour;
    }
    &--title {
      font-family: $title-font;
      color: $title-text-colour;
      font-size: 1.5rem;
    }
    &--text {
      font-size: 1rem;
    }
  }

  &__button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#project-image {
  width: 90%;
  padding: 10px 0;
}
