@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jost&display=swap");

// Fonts
$title-font: "Fjalla One", "Impact", sans-serif;
$body-font: "Jost", "Veranda", sans-serif;

// Colour palette
$colour-white: rgb(255, 255, 255);
$background-colour: rgb(249, 247, 253);
$body-text-colour: rgb(31, 22, 46);
$title-text-colour: rgb(72, 56, 143);
$selector-colour: rgb(111, 174, 245);
