@import "../../styles/_variables.scss";

.main-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  &__title {
    font-family: $title-font;
    color: $title-text-colour;
    font-size: 3.5rem;
    padding: 20px;
  }
  &__tagline {
    font-family: $body-font;
    color: $body-text-colour;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
  }
  &__artwork {
    display: none;
  }
}
#highlighter {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 65%,
    $selector-colour 65%
  );
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;

  &__title {
    font-family: $title-font;
    font-size: 2rem;
    color: $title-text-colour;
    padding-top: 20px;
    text-align: center;
  }

  .about-container {
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: $body-font;
      color: $body-text-colour;
      font-size: 1rem;
      width: 96%;
      padding: 20px;
    }

    &__hashtag {
      font-weight: bold;
      color: $selector-colour;
      font-size: 1.4rem;
      text-align: start;
    }
    &__hashtag:hover {
      transition: 400ms;
      color: $title-text-colour;
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
      margin: 20px;
      &--pic {
        border-radius: 10px;
        width: 60%;
        box-shadow: 5px 5px 10px $title-text-colour;
      }
      &--pic:hover {
        box-shadow: 5px 5px 10px $selector-colour;
        transition: 400ms;
      }
    }
  }
}
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px;

  &__title {
    font-family: $title-font;
    font-size: 2rem;
    padding: 10px;
    color: $title-text-colour;
    text-align: center;
  }
  &__text {
    font-family: $body-font;
    font-size: 1rem;
    text-align: center;
    color: $body-text-colour;
    margin-top: 10px;
  }
  &__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;

    &--spring,
    &--bem,
    &--css,
    &--scss,
    &--html,
    &--java,
    &--react,
    &--git,
    &--javascript {
      width: 75%;
      align-self: center;
    }
  }
}
.projects-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-family: $title-font;
    color: $title-text-colour;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .intro-container {
    display: flex;
    flex-direction: row;

    &__title {
      font-size: 3.8rem;
    }

    &__tagline {
      font-size: 1.5rem;
    }
    &__artwork {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
    }
  }
  .projects-container__cards {
    display: flex;
    flex-wrap: wrap;
  }
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    &__text {
      margin-top: 20px;
    }
  }

  .about-container-bottom {
    display: flex;
    flex-direction: row;
  }

  .skills-container-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
  }
  .skills-container {
    &__icons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 5px;
    }
    &__text {
      width: 50%;
      margin-top: 70px;
      font-size: 1.1rem;
      padding: 20px;
    }
  }
}
